<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-10 col-xl-8 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img">
									<!-- <img src="https://www.prdistribution.com/spirit/uploads/pressreleases/2019/newsreleases/d83341deb75c4c4f6b113f27b1e42cd8-chatbot-florence-already-helps-thousands-of-patients-to-remember-their-medication.png" class="rounded-circle user_img"> -->
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Medical Chatbot</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
		function escapeHtml(text) {
			return $('<div/>').text(text).html();
		}

		// Function to convert markdown to HTML
		function markdownToHtml(text) {
			// Escape HTML first
			text = escapeHtml(text);
			
			// Convert markdown tables
			text = text.replace(/\|(.+)\n\|[-|\s]+\n((?:\|.+\n?)*)/g, function(match) {
				var lines = match.trim().split('\n');
				var headers = lines[0].split('|').map(h => h.trim()).filter(h => h);
				var tableHtml = '<table class="markdown-table"><thead><tr>';
				headers.forEach(h => {
					tableHtml += '<th>' + h.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>') + '</th>';
				});
				tableHtml += '</tr></thead><tbody>';
				
				for (var i = 2; i < lines.length; i++) {
					if (lines[i].trim()) {
						var cells = lines[i].split('|').map(c => c.trim()).filter(c => c);
						tableHtml += '<tr>';
						cells.forEach(c => {
							// Apply formatting within table cells
							c = c.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');
							c = c.replace(/\*(.+?)\*/g, '<em>$1</em>');
							tableHtml += '<td>' + c + '</td>';
						});
						tableHtml += '</tr>';
					}
				}
				tableHtml += '</tbody></table>';
				return tableHtml;
			});
			
			// Convert headings (###, ##, #)
			text = text.replace(/^### (.+)$/gm, '<h5>$1</h5>');
			text = text.replace(/^## (.+)$/gm, '<h4>$1</h4>');
			text = text.replace(/^# (.+)$/gm, '<h3>$1</h3>');
			
			// Convert horizontal rules
			text = text.replace(/^---+$/gm, '<hr>');
			
			// Convert bullet lists (handle multi-line lists)
			text = text.replace(/(?:^|\n)((?:- .+(?:\n|$))+)/gm, function(match) {
				var items = match.trim().split('\n').filter(line => line.startsWith('- '));
				var listHtml = '<ul>';
				items.forEach(item => {
					var content = item.replace(/^- /, '').trim();
					content = content.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');
					content = content.replace(/\*(.+?)\*/g, '<em>$1</em>');
					listHtml += '<li>' + content + '</li>';
				});
				listHtml += '</ul>';
				return '\n' + listHtml;
			});
			
			// Convert **text** to <strong>text</strong> for bold
			text = text.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');
			
			// Convert *text* to <em>text</em> for italics (but not **text**)
			text = text.replace(/\*([^*]+?)\*/g, '<em>$1</em>');

			// Block elements already create vertical space, so remove markdown
			// blank lines around them before converting remaining newlines.
			text = text.replace(/\n*(<h[3-5]>)/g, '$1');
			text = text.replace(/(<\/h[3-5]>)\n*/g, '$1');
			text = text.replace(/\n*(<hr>)\n*/g, '$1');
			text = text.replace(/\n*(<ul>)/g, '$1');
			text = text.replace(/(<\/ul>)\n*/g, '$1');
			text = text.replace(/\n*(<table class="markdown-table">)/g, '$1');
			text = text.replace(/(<\/table>)\n*/g, '$1');
			
			// Convert new lines to <br>
			text = text.replace(/\n/g, '<br>');
			
			return text;
		}

		function scrollMessagesToBottom() {
			var scrollContainer = $("#messageFormeight")[0];
			scrollContainer.scrollTop = scrollContainer.scrollHeight;
		}

		$(document).ready(function() {
			var messageCount = 0;
			
			$("#messageArea").on("submit", function(event) {
				messageCount++;
				const date = new Date();
				const hour = date.getHours();
				const minute = date.getMinutes();
				const str_time = hour+":"+minute;
				var rawText = $("#text").val();

				var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + escapeHtml(rawText) + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
				
				$("#text").val("");
				$("#messageFormeight").append(userHtml);
				scrollMessagesToBottom();

				// Create bot message container with unique ID
				var botMessageId = "botMessage_" + messageCount;
				var botContentId = "botContent_" + messageCount;
				var botMessageHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer" id="' + botMessageId + '"><div class="streamed-markdown" id="' + botContentId + '"></div><span class="msg_time">' + str_time + '</span></div></div>';
				$("#messageFormeight").append(botMessageHtml);
				scrollMessagesToBottom();

				// Stream the response and keep formatting the accumulated markdown.
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get", true);
				xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				
				var accumulatedText = "";
				var pendingRender = false;

				function renderStreamingMarkdown() {
					pendingRender = false;
					$("#" + botContentId).html(markdownToHtml(accumulatedText));
					scrollMessagesToBottom();
				}

				function scheduleRender() {
					if (pendingRender) {
						return;
					}

					pendingRender = true;
					window.requestAnimationFrame(renderStreamingMarkdown);
				}
				
				xhr.onprogress = function() {
					accumulatedText = xhr.responseText;
					scheduleRender();
				};
				
				xhr.onload = function() {
					if (xhr.status === 200) {
						accumulatedText = xhr.responseText;
						renderStreamingMarkdown();
					}
				};
				
				xhr.onerror = function() {
					$("#" + botContentId).text("Error: Failed to get response");
				};
				
				xhr.send("msg=" + encodeURIComponent(rawText));
				event.preventDefault();
			});
		});
	</script>    </body>
</html>
